<section>
  <div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>

      <li>
        <a href="/register">Cadastro usuarios</a>
      </li>

      <li>
        <a href="/list">Lista de usuarios</a>
      </li>


    </ul>
    <hr>
  </div>
</section>
